@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #224099;
  --color-secondary: #10bee8;
  --color-ternary: #009e59;
}

:root .bg-themeGreen {
  --color-primary: #03641b;
  --color-secondary: yellow;
  --color-ternary: pink;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-primary: #224099;
    --color-secondary: #10bee8;
    --color-ternary: #009e59;
  }
}

@media (prefers-color-scheme: dark) {
  :root .bg-themeGreen {
    --color-primary: #03641b;
    --color-secondary: yellow;
    --color-ternary: pink;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  -webkit-font-smoothing: antialiased;
}

.heading-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  top: -6px;
  position: relative;
  z-index: 0;
  background-color: theme("colors.brand.blue");
}

.green-heading-underline::after {
  background-color: theme("colors.brand.green");
}

.newsletterBg {
  background-color: #edf0f7;
}

.bg-themeGreen.newsletterBg {
  background-color: #f1f6ea;
}

.slick-list {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

@keyframes slideInFromLeft {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slideOutFromRight {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.sliding-border-bottom {
  position: relative;
}

.sliding-border-bottom:hover::after {
  content: "";
  display: block;
  bottom: -4px;
  position: absolute;
  height: 4px;
  left: 0;
  background-color: currentColor;
  animation: slideInFromLeft 0.5s ease forwards;
  width: 0;
  z-index: 0;
}

.animate-out.sliding-border-bottom::after {
  content: "";
  display: block;
  bottom: -4px;
  position: absolute;
  left: 0;
  height: 4px;
  background-color: currentColor;
  animation: slideOutFromRight 0.5s ease forwards;
  z-index: 0;
}

.sliding-border-bottom.active:hover::after {
  height: 0;
}

.svg-stroke {
  stroke: var(--svg-stroke-color);
}
